opusc/opusc.vcxproj.filters
.vs
.deps
html.cpp
html.hpp
html.output
log
obj
opl.cpp
opl.hpp
opl.output
opus.exe
opus.VC.db
opus.vcxproj.filters
git.pwd
.d
bin
test/asm/add.s
test/asm/and.s
test/asm/cmp.s
test/asm/mov.s
test/asm/or.s
test/asm/sar.s
test/asm/sbb.s
test/asm/sub.s
test/asm/test.s
test/asm/xor.s
